extends layout

block content
    h1= title
    - let glintstoneid = toShow._id
    - let glintstone_type = toShow.glintstone_type 
    - let slots_used = toShow.slots_used 
    - let fp_cost = toShow.fp_cost
    div 
        .row 
            div(class='costumeAttr mr-3') Glintstone ID is:
            div #{glintstoneid}
        .row 
            div(class='costumeAttr mr-3') Glintstone Type is: 
            div #{glintstone_type}
        .row 
            div(class='costumeAttr mr-3') Slots Used: 
            div #{slots_used}
        .row 
            div(class='costumeAttr mr-3') FP Cost: 
            div #{fp_cost}